* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: white;
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.app__container {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 1200px) {
    .app__container {
        width: 100%;
        padding: 0;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 1em;
}


.list {
    margin: 0;
    padding: 0;
}

.list li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style: none;
    background: #eee;
    font-size: 1.2em;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 24px;
}

.list li:nth-child(odd) {
    background: #1b3c59;
}

.list li:nth-child(even) {
    background: #456173;
}

.list li:hover {
    background: #A6ED8E;
}

.list li.checked {
    text-decoration: line-through;
  }

.list li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.header__container {
    text-align: center;
    letter-spacing: 0.2em;
    background-color: #A6ED8E;
}

.form__container--input {
    margin: 0;
    border: none;
    border-radius: 24px;
    width: 60%;
    padding: 10px;
    float: left;
    font-size: 16px;
    background: #F2F2F0;
    outline: 0;
}

.form__container--input:focus {
    background: rgb(241, 241, 228);
    border-radius: 24px;
}

.form__container--button {
    padding: 10px;
    width: 19.5%;
    background: #F2F2F0;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 24px;
    outline: 0;
}

.form__container--button:hover {
    background:  #a6ed8e;
    color: black;
    border-radius: 24px;
}

.form__container {
    background-color: #283C63;
}

.list__container {
    background: #f2f2f0;
}

